
<div class="row d-flex pt-2">
  <div class="col-sm-4">
  <div class="card">
      <div class="card-header d-flex justify-content-between">
          <span class="d-flex justify-content-start">
              My Daily Program
          </span>
          <span class="d-flex justify-content-end">
              <mat-icon>library_add</mat-icon>
          </span>
              
      </div>
      <div class="card-body">
          <mat-selection-list #shoes>
              <mat-list-option *ngFor="let shoe of typesOfShoes">
                {{shoe}}
              </mat-list-option>
            </mat-selection-list>
            
            <p>
              Options selected: {{shoes.selectedOptions.selected.length}}
            </p>
      </div>
      <div class="card-footer">
          <section>
              <div class="example-button-row">
                <button mat-raised-button>
                    <mat-icon>alarm_on</mat-icon></button>
                <button mat-raised-button color="primary">
                  <mat-icon>done_all</mat-icon>
                </button>
                <button mat-raised-button color="accent">
                  <mat-icon>share</mat-icon>
                </button>
                <button mat-raised-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
              </div>
            </section>
      </div>
  </div>
</div>
</div>