

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sidebarOpen" class="shadow"> 
        <mat-nav-list>
            <div class="logo py-4">
                <img src="" alt="Profile Image">
            </div>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/in/home/" routerLinkActive="list-item-active">
                <mat-icon>home</mat-icon>Home
            </a>
            <a mat-list-item routerLink="/in/chat-window/" routerLinkActive="list-item-active"> <mat-icon>face</mat-icon>Chat Section</a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>      
        <app-navbar (toggleSidebar)="sidebarToggeler()"></app-navbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
